/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
  width: 48%
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
  width: 48%
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

header {
  background-color: #01214C;
  height: 100px;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;

}

footer {

}

/******************************************
/* Header
/*******************************************/

h1{
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: semibold;
  color: #01214C;
  line-height: 38px;
}

h3{
  font-size: 24px;
  font-weight: bolder;
}

.logo{
  float: left;
}

.nav-bar{
  float: right;
}

.nav{
  color:#f9e42e
}

li.nav{
  float: left;
  padding:20px;
  font-size: 18px;
}

/******************************************
/* Main
/*******************************************/

.main{
  padding: 40px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #F2F6F5;
}

.alignleft{
  width: 66%;
  float: left;
  display: inline-block;
}

.alignright{
  width: 33%;
  float: right;
}

img {
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.lrgletter{
  float: left;
  font-size: 40px;
  line-height: 30px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
}

.paragraph{
  color: #606161;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  padding-bottom: 40px;
}

.linktoarticle{
  float: right;
  font-weight: 400;
}

a {
  color: #01214C;
  font-weight: bold;
  text-decoration: none;
}

hr.rule{
  border-top: 1px solid #8c8b8b;
  margin-top: 10px;
  margin-bottom: 20px;
}

/******************************************
/* Aside
/*******************************************/

aside {
  color: #01214C;
}

.categories {
  padding-bottom: 20px;
}

.links{
  font-size: 16px;
  font-weight: lighter;
  padding-left: 5px;
  padding-top: 10px;
}

p.about {
  font-size: 16px;
  font-weight: lighter;
  padding-top: 10px;
}


/******************************************
/* Button
/*******************************************/

input[type=button].blue {
  border: none;
  border-radius: 5px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  background-color: #033048;
  cursor: pointer;
  font: 14px;
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
}

.button-background {
  background-color: #f9e42e;
  height: 100%;
}


/******************************************
/* Footer
/*******************************************/

.yellow-logo {
  font-weight: 900;
  font-size: 24px;
  color: #f9e42e;
  font-family: 'Open+Sans', sans-serif;
  padding-top: 20px;
}


.footer {
  background-color: #121212;
  text-align: center;
  height: 100%;
}

.social {
  padding: 50px;
}

.copyright {
  font-size: 9px;
  color: white;
  font-weight: 200;
  padding-bottom: 50px;
}







