.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("images/simple_background.jpg");
  font-family: 'Baskerville', serif;
  color: #270f0a;
  height: 1320px;
}

.empty{
  height: 720px;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
  margin-right: 80px;
  float: right;
  font-size: 40px;
  font-weight: lighter;
}

p {
  color: #270f0a;
  font-size: 18px;
  line-height: 150%;
}

.column-left{
  float: left;
  width: 30%
  margin-left: 80px;
}

.column-right{
  float: right;
  width: 30%;
  margin-right: 80px;
}