body {
	margin: 0;
	padding: 0;
}

.clearfix{
	clear: both;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.column {
	width: 90%;
	height:100px;
	float:left;
	display: block;
	border: 1px solid black;
	box-sizing: border-box;
}

.pinkbox {
	width: 100%;
	margin-bottom: 15px;
	padding: 3px;
	border: 1px solid black;
	box-sizing: border-box;
}

.greenbox {
	width: 96%;
	margin: 0 2% 15px 2%;
	height: 200px;
	border: 1px solid black;
}

.nav3 {

}

@media only screen and (min-width:320px){
	.column{
		float:left;
	}
	.pinkbox {
		height: 25px;
	}
	.greenbox {
		width: 100%;
	}
	.bluebox {
		width: 100%;
	}

}

@media only screen and (min-width:768px) {
	.column{
		float:left;
	}
	.pinkbox {
		height: 50px;
	}
	.greenbox {
		width: 30%;
		margin: 1%;
	}
	.bluebox {
		width: 25%;
	}
}
